*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 20px;
}

#recipeCards .card {
    width: 100%;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: justify;
}

.read-more-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.read-more-link:hover {
    text-decoration: none;
}
